html,
body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 245, 214);
}

body, main{

    justify-content: center;
    
}

main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    width: 100%;
    
    
}

.step {
    height: auto;   
    text-align: center;
    box-sizing: border-box; 
    justify-content: center;
    padding: 40px;
    
}

.step4 {
    height: auto;   
    text-align: center;
    box-sizing: border-box; 
    justify-content: center;
    padding: 20px 20px 100px 20px;
    
}

.step3 {
    height: auto;   
    text-align: center;
    box-sizing: border-box; 
    justify-content: center;
    padding: 40px 20px 0 20px;
    
}

.step img {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.step3 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.step4 img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.step p {
    width:900px;
    margin: 5px;
    font-size: 20px;
    color: #4a2d21;
    
    flex-wrap: wrap;
    text-align:left;
}

.step2 {
    height: auto;   
    text-align: center;
    box-sizing: border-box; 
    justify-content: center;
    padding: 20px;
    
}

.step2 p {
    width:900px;
    margin: 5px;
    font-size: 20px;
    color: #4a2d21;
    
    flex-wrap: wrap;
    text-align:left;
}


.step2 video {
    width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
    justify-content:space-evenly;
}
